<div id="dashboard-container">
  <div id="weather-row">
    <div class="widget-container">
      <div class="widget">
        <app-small-weather-widget></app-small-weather-widget>
      </div>
    </div>
    <div class="widget-container">
      <div class="widget">
        <app-small-weather-widget></app-small-weather-widget>
      </div>
    </div>
    <div class="widget-container">
      <div class="widget">
        <app-small-weather-widget></app-small-weather-widget>
      </div>
    </div>
  </div>
</div>
