@import 'src/styles/colors.scss';

  #form-container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    .group {
      padding: 5px 10px;
      mat-form-field {
        // margin: 0px 5px 7px 5px;
        width: 100%;
        flex-direction: row;
      }
    }
    .full {
      width: 94%;
    }
    .half {
      width: 45%;
    }
  }
.example-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
