<div id="container" *ngIf="widget">
  <div id="small-weather-widget-container">
    <div class="content" id="first-content">
      <div id="img-container">
        <img src="./../../../../../assets/sun.png" alt="" />
      </div>
      <div id="info-container">
        <div id="temp" class="infos">{{ widget?.temp | celsiusSign }}</div>
        <div id="info" class="infos">
          <div id="weather-type">{{ widget?.description }}</div>
          <div id="position">{{ widget?.city }}</div>
        </div>
        <div id="date">
          <div id="month">{{ widget?.date }}</div>
          <!-- <div id="day">{{ weather.date.day }}</div> -->
        </div>
      </div>
    </div>
    <div class="content" id="second-content">
      <div id="weather-info-container">
        <div id="wind" class="weather-info">
          <div id="wind-img">
            <img src="./../../../../../assets/waves.png" alt="" />
          </div>
          <div id="wind-info" class="info">
            {{ widget?.wind }}
          </div>
        </div>
        <div id="rain" class="weather-info">
          <div id="rain-img">
            <img src="./../../../../../assets/water-drop.png" alt="" />
          </div>
          <div id="rain-info" class="info">{{ widget?.humidity }}</div>
        </div>
        <div id="sun" class="weather-info">
          <div id="sun-img">
            <img src="./../../../../../assets/small-sun.png" alt="" />
          </div>
          <div id="sun-info" class="info">{{ widget?.humidity }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
