#dashboard-container {
  height: 100%;
  #weather-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .widget-container {
      // margin: 15px;
      flex: 1;
      display: flex;
      justify-content: center;
      .widget {
        width: 100%;
        // app-small-weather-widget {
        //   width: 100%;
        // }
      }
    }
  }
  #large-widget {
    margin: 15px;
  }
}
