<div id="dashboard-container">
  <div id="weather-row">
    <mat-tab-group
      [headerPosition]="'below'"
      [animationDuration]="0"
      color="accent"
      backgroundColor="primary"
      mat-stretch-tabs
      *ngFor="let widget of widgetArr"
    >
      <mat-tab *ngFor="let widgetDay of widget">
        <ng-template mat-tab-label>
          <!-- <div class="tab-label">
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            First
          </div> -->
          <div class="label">
            <div id="label-temp" class="inf">
              {{ widgetDay.temp | celsiusSign }}
            </div>
            <div id="label-day" class="inf">
              {{ widgetDay.date.dayOfWeek | dayOfTheWeek }}
            </div>
          </div>
        </ng-template>
        <div class="widget-container">
          <div class="widget">
            <app-small-weather-widget
              [widget]="widgetDay"
            ></app-small-weather-widget>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <!-- <div class="widget-container" *ngFor="let widget of widgetArr">
      <div class="widget">
        <app-small-weather-widget [widget]="widget"></app-small-weather-widget>
      </div>
    </div> -->
    <!-- <div class="widget-container">
      <div class="widget">
        <app-small-weather-widget></app-small-weather-widget>
      </div>
    </div>
    <div class="widget-container">
      <div class="widget">
        <app-small-weather-widget></app-small-weather-widget>
      </div>
    </div> -->
  </div>
  <div id="large-widget">
    <!-- <app-large-weather-widget></app-large-weather-widget> -->
  </div>
</div>
