<div id="bar" #nav>
  <div id="container">
    <div id="logo">
      <img src="{{ logoIMG }}" alt="logo" />
      <span>Moja stacja pogodowa</span>
    </div>
  </div>
  <ul class="menu" *ngIf="!isLogged">
    <li class="menu-item" [routerLink]="['/auth/login']">Logowanie</li>
    <li class="menu-item" [routerLink]="['/auth/register']">Rejestracja</li>
  </ul>
  <div id="profile-container" *ngIf="isLogged">
    <ul class="menu">
      <li class="menu-item" [routerLink]="['app/d']">Dashboard</li>
      <li class="menu-item" [routerLink]="['app/users']">Użytkownicy</li>
      <!-- <li class="menu-item" [routerLink]="['/auth/login']">Użytkownicy</li> -->
    </ul>
    <div
      id="userInfo"
      class="clickable"
      [matMenuTriggerFor]="userInfo"
      #menuTrigger="matMenuTrigger"
      *ngIf="showUserInfo"
    >
      <!-- <div id="userDisplayName">{{account?.name}} {{account?.surname}}</div> -->
      <!-- <img src="./../../../assets/profile-image.png"> -->
      <img src="{{ profileIMG }}" alt="zdjęcie profilowe" />
    </div>
    <mat-menu #userInfo="matMenu" id="sth" [overlapTrigger]="false">
      <app-user-info
        (logout)="emitLogout()"
        (routeSwitch)="emitRouteSwitch($event)"
        [name]="profileName"
      ></app-user-info>
    </mat-menu>
  </div>
</div>
